@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

:root {
    --color-1: #343F8C;
    --color-2: #3796D3;
    --color-3: #3666AC;
    --color-4: #343F8C;
    --color-5: rgba(255, 255, 255, 0.5);
	--color-6: #85BC8D;
	--color-7: #3796D3;
	--white:rgb(219, 213, 213);
	--color-bgsec-1: #F2E8F1;
	--color-bgsec-2: #EDDEEB;
	--transparent: rgba(0, 0, 0, 0);
	--translucent: #1c365ef1;
	--for-clear-bg: #243442;
	--container-bg: rgb(243, 243, 243);
	--for-shadows: rgba(0, 0, 0, 0.35);
	--for-shadows-2: rgba(0, 0, 0, 0.15);
	--for-paragraphs: rgb(58, 58, 58);
	--for-headers: rgb(53, 53, 53);
}



* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(39, 38, 38, .5);

}

.navbar {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px;
    background: var(--transparent);
    width: 100%;
    transition: all 0.4s;
    z-index: 10;
}


.buttoms {
    /*flex-direction: line;*/
    margin-top: -1.5rem;
    position: fixed;
    width: 100%;
    display: flex;
    padding: .25rem 2rem;
    background: var(--for-clear-bg);
}

.tittle {
    color:var(--white);
    position: fixed;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    margin-top: -8rem;
    padding: 1rem 0;
    justify-content: center;
    background:var(--for-clear-bg);
    cursor:default;
}

ul {
    list-style-type: none;
}

.btn {
    /*width: 7rem;*/
    color:var(--white);
    padding: .5rem;
    text-align: center;
}

.btn-projects:hover {
    color: var(--for-clear-bg);
    background: white;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;


}
.btn-skills:hover {
    color: var(--for-clear-bg);
    background: white;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;

}
.btn-contact:hover {
    color: var(--for-clear-bg);
    background: white;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;

}

.tittle-projects {
    margin-top: 8rem;
    font-size: 1rem;
    background: white;
    text-align: center;
    padding-top: 1rem;
    cursor:default;

}

.text-tittle-projects {

    padding: 1.5rem 0 0 0;
    background:rgb(225, 225, 225);
    vertical-align: bottom;
    border-color: rgba(120, 120, 120);
    border-style: outset;
    border-width: 1px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: rgb(61, 55, 55);
    font-weight: 500;
}


.images-projects {
    gap: 1rem;
    flex-wrap: wrap;
    display:flex;
    padding: 1rem 0 2rem 0;
    justify-content: center;
    background:rgb(225, 225, 225);
}

.images-properties {
    width: 24rem;
    height: 18rem;
    border-radius: 0.5rem;
    background:rgb(37, 37, 37,0.5);
    opacity: 1;
    background-size: contain;

}

#image-one {
    background-image: url("./Assets/pomoveit.png");
}

#image-one:hover {
    background-blend-mode: color-burn;
    cursor: pointer;
}

#image-two {
    background-image: url("./Assets/devfinance.png");
}

#image-two:hover {
    background-blend-mode: color-burn;
    cursor: pointer;
}

#image-three {
    background-image: url("./Assets/InformaticaSG.png");
}

#image-three:hover {
    background-blend-mode: color-burn;
    cursor: pointer;
}

#image-four {
    background-image: url("./Assets/testu.png");
}

#image-four:hover {
    background-blend-mode: color-burn;
    cursor: pointer;
}

#image-five {
    background-image: url("./Assets/wsisadm.png");
}

#image-five:hover {
    background-blend-mode: color-burn;
    cursor: pointer;
}

#image-six {
    background-image: url("./Assets/calendar.png");
}

#image-six:hover {
    background-blend-mode: color-burn;
    cursor: pointer;
}

.project-det {
    margin-top: 14.5rem;
    height: 3.5rem;
    background-color: rgb(39, 38, 38, .6);
    border-radius: .5rem;
    padding: 0.5rem 1rem;
    font-size: .75rem;
    color: rgb(219, 213, 213);
    text-align: center;
    font-weight: 400;
}

.text-tittle-footer {
    font-size: 1rem;
    padding: .8rem 0;
    border-color: rgba(120, 120, 120);
    border-style: outset;
    border-width: 1px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: center;
    color: var(--white);
    text-decoration-line: underline;
    font-weight: 500;
    background: var(--for-clear-bg);
    cursor: default;

}

.images-footer {
    display:flex;
    padding: 1rem;
    justify-content: space-evenly;
    padding: 2rem;
    text-align: justify;
    color: rgb(38,38,38);
    cursor: default;

}
.images-footer-text {
        padding:2rem;
        text-align: justify;
        color: rgb(38,38,38);
        cursor: default;    
}
.images-footer li {
    font-weight: 500;
}
.images-footer span {
    font-weight: 300;

}
.images-properties-footer {
    width: 48px;
    height: 48px;
}

.images-properties-footer:hover {
    opacity: .7;
    transition: opacity 0.s;
}

.fab {
    font-size: 48px;
    color: white;

}

.html-icon:hover {
    color: #f06529;
    transition: .5s;
}
.css-icon:hover {
    color: #2965f1;
    transition: .5s;
}
.js-icon:hover {
    color: #f0db4f;
    transition: .5s;
}
.react-icon:hover {
    color: #61dbfb;
    transition: .5s;
}

.line-footer {
    font-size: 1rem;
    padding: .5rem 0;
    border-color: rgba(120, 120, 120);
    border-style: outset;
    border-width: 1px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: center;
    color: rgb(219, 213, 213);
    background: var(--for-clear-bg);
}

.contact {
    gap: 3rem;
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
}

.boxContact {
    display:flex;
    background: var(--for-clear-bg);
    justify-content: center;
    padding-bottom: 1rem;;
}

.inputBox {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .5rem;
    background: var(--white);
    width: 50%;
    border-radius: 3px;
}

.textBox {
    border: none;
    border-radius: 3px;
    padding: .5rem;
}


.tittleContact {
    font-size: .9rem;

}

.btn__inputBox{
    border: none;
    padding: .5rem;
    background: var(--for-clear-bg);
    border-radius: 3px;
    color: white;
    width: 8rem;
    align-self: center;
}
.btn__inputBox:hover {
    color: var(--for-clear-bg);
    background: white;
    cursor: pointer;
    transition: .5s;
}

.commentBox {
    border: none;
    resize: none;
    padding: .5rem;
    border-radius: 3px;
}

.icon-contact {
    font-size: 32px;
}

.fa-github-square:hover {
    color: #f34f29;
    transition: .5s;
    cursor: pointer;    
}
.fa-linkedin:hover {
    color: #0072b1;
    transition: .5s;
    cursor: pointer;    
}
.fa-whatsapp-square:hover {
    color: #4fce5d;
    transition: .5s;
    cursor: pointer;    
}
.fa-facebook-square:hover {
    color: #4267B2;
    transition: .5s;
    cursor: pointer;    
}
.fa-instagram-square:hover {
    color: #8a3ab9;
    transition: .5s;
    cursor: pointer;    
}

.end-footer {
    display: flex;
    justify-content: center;
    color: rgb(180, 180, 180);
    background:rgb(37, 37, 37);
    font-size: .7rem;
    padding: .25rem;
    cursor:default;
}

@media (max-width:810px)  {
    html {
        font-size: 87.5%;
    }
}

@media (max-width:720px)  {
    html {
        font-size: 87.5%;
        flex-wrap: wrap;
        display:block;
 
    }
    .images-properties {
        width: 22rem;
        height: 16.5rem;
    }
    .project-det {
        margin-top: 13rem;
    }

}
   
