* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(39, 38, 38, .5);

}

.profile {
    padding: 1rem 0 1rem 0;
    justify-content: center;
}

.tittle {
    color:rgb(219, 213, 213);
    display: block;
    text-align: center;
    font-size: 1rem;
}

.image {
    width: 10rem;
    height: 12rem;
    border-radius: 15%;
    background: rgb(39, 38, 38, .3);
    margin-top: -1rem;
    border-color: rgba(39, 38, 38, 0.4);
    border-style: outset;
    border-width: 0.75rem;
    border-top: none;
    border-left: none;
    
}

.tittle-projects {
    font-size: 1rem;
    padding: 0rem;
    background: white;
    text-align: center;
}

.text-tittle-projects {
    padding: 1.5rem 0 0 0;
    background:rgb(225, 225, 225);
    vertical-align: bottom;
    border-color: rgba(120, 120, 120);
    border-style: outset;
    border-width: 2px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: rgb(120, 120, 120);
}


.images-projects {
    gap: 1rem;
    flex-wrap: wrap;
    display:flex;
    padding: 1rem 0;
    justify-content: center;
    background:rgb(225, 225, 225);
}

.images-properties {
    width: 24rem;
    height: 18rem;
    border-radius: 0.5rem;
    background:rgb(37, 37, 37,0.5);
    opacity: 0.7;
    background-size: contain;

}

#image-one {
    background-image: url("./Assets/pomoveit.png");
}

#image-one:hover {
    background-size: cover;
    opacity: 1;
    transition: opacity 0.5s;
    cursor: pointer;
}

#image-two {
    background-image: url("./Assets/devfinance.png");
}

#image-two:hover {
    background-size: cover;
    opacity: 1;
    transition: opacity 0.5s;
    cursor: pointer;
}

#image-three {
    background-image: url("./Assets/InformaticaSG.png");
}

#image-three:hover {
    background-size: cover;
    opacity: 1;
    transition: opacity 0.5s;
    cursor: pointer;
}

#image-four {
    background-image: url("./Assets/testu.png");
}

#image-four:hover {
    background-size: cover;
    opacity: 1;
    transition: opacity 0.5s;
    cursor: pointer;
}

#image-five {
    background-image: url("./Assets/wsisadm.png");
}

#image-five:hover {
    background-size: cover;
    opacity: 1;
    transition: opacity 0.5s;
    cursor: pointer;
}

#image-six {
    background-image: url("./Assets/calendar.png");
}

#image-six:hover {
    background-size: cover;
    opacity: 1;
    transition: opacity 0.5s;
    cursor: pointer;
}

.project-det {
    margin-top: 14.5rem;
    height: 3.5rem;
    background-color: rgb(39, 38, 38, .6);
    border-radius: .5rem;
    padding: .25rem 1rem;
    font-size: .75rem;
    color: rgb(219, 213, 213);
    text-align: center;
}

.text-tittle-footer {
    font-size: 1rem;
    padding: 1.5rem 0 0 0;
    border-color: rgba(120, 120, 120);
    border-style: outset;
    border-width: 2px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: center;
    color: rgb(219, 213, 213);

}

.images-footer {
    display:flex;
    padding: 1rem;
    justify-content: space-evenly;
}

.images-properties-footer {
    width: 48px;
    height: 48px;
    opacity: 1;
}

.images-properties-footer:hover {
    opacity: 0.5;
    transition: opacity 1s;
    cursor: pointer;
}

@media (max-width:810px)  {
    html {
        font-size: 87.5%;
    }
}

@media (max-width:720px)  {
    html {
        font-size: 87.5%;
        flex-wrap: wrap;
        display:block;
 
    }
    .images-properties {
        width: 20rem;
        height: 15rem;
    }
}